[user]
	name = Pawel Lipinski
	email = lipinskijob@gmail.com
	signingkey = 6E2FAE9852F6377B594E7FFD580A8D46C12A06D1
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	pager = less -+$LESS -R
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	st = status
	co = checkout
	lg = log
	cp = cherry-pick
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	ca = commit --amend
[pager]
	branch = false
[commit]
	gpgsign = true
